@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --sidebarBG: #e7e7e7;
  --headerBG: #343148;
  --left: 270px;
  --top: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #EAEFF2;
}

.navbar {
  height: 50px;
  background-color: var(--headerBG);
}
.navbar h4 {
  margin: 0;
  color: #F1F1F1;
}
.navbar a {
  text-decoration: none;
  color: #F1F1F1;
}

.banner {
  height: calc(100vh - 50px);
  width: 100%;
  background-image: url("./../image/landingpage/bg-banner1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner-content {
  display: flex;
  height: 80%;
  align-items: center;
}
.banner #contact {
  margin-left: auto;
}
.banner #contact .header-form h4 {
  text-align: center;
}
.banner #contact #form {
  width: 520px;
  float: left;
  border-radius: 7px;
  color: #F1F1F1;
  background-color: var(--headerBG);
  padding: 1.7em 2.2em;
}
.banner #contact #form .form-items {
  display: flex;
  justify-content: space-between;
}
.banner #contact #form .form-items input {
  font-family: "Open Sans";
  float: left;
  width: 320px;
  border: 0px;
  color: #222222;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
  background-color: #F1F1F1;
}
.banner #contact #form .form-items textarea {
  float: left;
  border: 0px;
  width: 320px;
  height: 140px;
  padding: 10px 10px 10px 30px;
  color: #222222;
  background-color: #F1F1F1;
  resize: none;
}
.banner #contact #form .form-items span {
  font-family: "Open Sans";
}
.banner #contact #form button.submit {
  cursor: pointer;
  width: 320px;
  height: 37px;
  background: none;
  outline: none;
  border: none;
  margin-left: auto;
  margin-top: 12px;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #ECDB54;
  color: #222222;
}

.distribusi-item {
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.distribusi-item::before {
  content: "";
  height: 2px;
  background-color: var(--headerBG);
  position: absolute;
  bottom: -2px;
  width: 0;
  transition: width 0.2s 0s linear;
}
.distribusi-item:hover::before {
  width: 100%;
}
.distribusi-item:last-child {
  margin-bottom: 0;
}

.grid-parent-dokumentasi-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  row-gap: 14px;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 14px;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.boxShadow2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-submit {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  width: 100%;
  border-radius: 4px;
}
.btn-submit:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(30, 144, 255) 0%, rgb(0, 212, 255) 100%);
}
.btn-submit:active {
  transform: translate(0em, 0.2em);
}

.form-delete-jadwal {
  background-color: #cacaca;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  right: -140px;
  transition: right 0.7s ease-in-out;
}

.data-jadwal {
  opacity: 1;
  transition: opacity 0.37s linear;
}

.form-delete-jadwal2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgb(212, 7, 7);
}

.show {
  display: flex;
}

.form-login {
  background-color: #F4F4F4;
  width: 380px;
  height: 460px;
  border-radius: 6px;
  padding: 1.4em 2em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-login .form {
  margin-top: 80px;
}

.my-container {
  max-width: 1000px;
  margin: 0 auto;
}

.content-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-parent .sidebar {
  background-color: var(--sidebarBG);
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%);
  height: -moz-fit-content;
  height: fit-content;
  color: #F4F4F4;
  width: 100%;
  border-radius: 10px;
  padding: 0.5em;
}
.content-parent .sidebar .top {
  height: var(--top);
  border-bottom: 1.5px solid #797979;
  display: flex;
  align-items: center;
}
.content-parent .sidebar .top .title {
  font-size: 12.8px;
}
.content-parent .sidebar .content-sidebar {
  width: 100%;
  background-color: var(--sidebarBG);
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent {
  position: relative;
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent span {
  color: black;
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent img {
  cursor: pointer;
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent .dropdown-nav-items-parent {
  position: absolute;
  top: 58px;
  left: 0;
  display: none;
  width: 170px;
  background-color: var(--sidebarBG);
  height: 0;
  border-left: 3.2px solid var(--headerBG);
  transition: height 0.4s 0s ease-out;
  overflow-y: hidden;
  overflow-x: hidden;
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent .dropdown-nav-items-parent .items-dropdown {
  padding: 0.5em 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-parent .sidebar .content-sidebar .dropdown-nav-parent .dropdown-nav-items-parent .items-dropdown span {
  cursor: pointer;
}
.content-parent .sidebar .content-sidebar ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.content-parent .sidebar .content-sidebar ul .active {
  color: var(--headerBG);
  font-weight: bold;
}
.content-parent .sidebar .content-sidebar ul li {
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.content-parent .sidebar .content-sidebar ul li a {
  text-decoration: none;
  color: black;
}
.content-parent .sidebar .bottom {
  bottom: 2px solid green;
  display: flex;
  align-items: center;
}
.content-parent .content {
  width: 100%;
  margin-left: auto;
}
.content-parent .content header {
  background-color: var(--headerBG);
  height: 134px;
  padding-top: 1.75em;
  margin-bottom: 90px;
  position: relative;
  color: #F4F4F4;
}
.content-parent .content header .account {
  margin-left: auto;
}
.content-parent .content header .account span {
  font-size: 14.5px;
  margin-left: 7px;
  color: #F4F4F4;
}
.content-parent .content .data {
  width: 100%;
  padding: 12px 14px;
  background-color: #F4F4F4;
  border-radius: 6px;
}
.content-parent .content .data-jadwal {
  position: relative;
  padding: 12px 14px;
  border-left: 3.2px solid var(--headerBG);
  transform: scale(1);
  transition: transform 0.2s 0.1s ease-in;
  background-color: #F4F4F4;
  cursor: pointer;
}
.content-parent .content .data-jadwal img {
  width: 40px;
  margin-left: 40px;
}
.content-parent .content .data-jadwal:hover {
  transform: scale(1.05);
}
.content-parent .content footer {
  margin-top: 50px;
  height: 80px;
  padding: 1em 0;
}
.content-parent .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}
.content-parent .search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}
.content-parent .search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}
.content-parent .search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.content-parent .search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

#example {
  font-size: 15px;
}

.dokumentasi-item {
  opacity: 1;
  transition: opacity 0.36s 0s ease-out;
}

.card-radio {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.card-radio .radio-label {
  display: flex;
  flex-direction: column;
}
.card-radio .box {
  background: #ddd;
  padding: 16px;
  display: flex;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;
}
.card-radio .box:hover {
  background: #d5bbf7;
}
.card-radio .box .circle {
  height: 16px;
  width: 16px;
  background: #ccc;
  border: 3.4px solid transparent;
  display: inline-block;
  margin-right: 9px;
  border-radius: 50%;
  transition: all 0.25s ease;
  box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.2);
}
.card-radio .box .plan {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 17px;
}
.card-radio .box .price {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */