@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

:root {
    --sidebarBG: #e7e7e7;
    --headerBG: #343148;
    --left: 270px;
    --top: 90px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #EAEFF2;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // gap: 12px;
    row-gap: 14px;
    column-gap: 18px;
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.boxShadow2 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-submit {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: dodgerblue;
    color: white;
    width: 100%;
    border-radius: 4px;

    &:hover {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }

    &:active {
        transform: translate(0em, 0.2em);
    }
}

.form-delete-jadwal {
    background-color: #cacaca;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    right: -140px;
    // border:2px solid #05ff7e;
    // padding: 10px;
    transition: right 0.7s ease-in-out;
}

.data-jadwal {
    opacity: 1;
    transition: opacity 0.37s linear;
}

.form-delete-jadwal2 {
    position: absolute;
    top: 0;
    // left: 0px;
    right: 0;
    bottom: 0;
    // z-index: 100;
    display: none;
    background-color: rgb(212, 7, 7);
}

.show {
    display: flex;
}

.form-login {
    background-color: #F4F4F4;
    width: 380px;
    height: 460px;
    border-radius: 6px;
    padding: 1.4em 2em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .form {
        margin-top: 80px;
    }
}

.my-container {
    max-width: 1000px;
    margin: 0 auto;
}

.content-parent {
    width: 100%;
    display: flex;
    flex-direction: column;

    .sidebar {
        background-color: var(--sidebarBG);
        position: absolute;
        left: 50%;
        bottom: -35px;
        transform: translate(-50%);
        height: fit-content;
        color: #F4F4F4;
        width: 100%;
        border-radius: 10px;
        padding: 0.5em;

        .top {
            height: var(--top);
            border-bottom: 1.5px solid #797979;
            display: flex;
            align-items: center;

            .title {
                font-size: 12.8px;
                // text-align: center;
            }
        }

        .content-sidebar {
            width: 100%;
            // border: 1px solid red;

            background-color: var(--sidebarBG);

            .dropdown-nav-parent {
                position: relative;

                span {
                    color: black;
                }

                img {
                    cursor: pointer;
                }

                .dropdown-nav-items-parent {
                    position: absolute;
                    top: 58px;
                    left: 0;
                    display: none;
                    width: 170px;
                    background-color: var(--sidebarBG);
                    height: 0;
                    border-left: 3.2px solid var(--headerBG);
                    transition: height 0.4s 0s ease-out;
                    overflow-y: hidden;
                    overflow-x: hidden;

                    .items-dropdown {
                        padding: 0.5em 20px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        span {
                            cursor: pointer;
                        }
                    }

                    // border-radius: 10px;
                }
            }

            ul {
                display: flex;
                // flex-direction: column;
                padding: 0;
                margin: 0;
                justify-content: space-between;

                .active {
                    // background-color: #464646ba;
                    color: var(--headerBG);
                    font-weight: bold;
                }

                li {
                    // padding: 0;
                    list-style-type: none;
                    padding: 10px 20px;
                    margin: 0;
                    width: fit-content;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        .bottom {
            bottom: 2px solid green;
            // height: 15%;
            display: flex;
            align-items: center;
        }
    }

    .content {
        width: 100%;
        margin-left: auto;

        // margin-bottom: 20px;
        // background-color: #797979;
        header {
            background-color: var(--headerBG);
            height: 134px;
            padding-top: 1.75em;
            margin-bottom: 90px;
            position: relative;
            color: #F4F4F4;

            .account {
                margin-left: auto;

                // display: flex;
                // align-items: center;
                // height: 60px;
                // margin-bottom: 8px;
                span {
                    font-size: 14.5px;
                    margin-left: 7px;
                    color: #F4F4F4;
                }
            }

        }

        .data {
            width: 100%;
            padding: 12px 14px;
            background-color: #F4F4F4;
            border-radius: 6px;
        }

        .data-jadwal {
            position: relative;
            // max-width: 350px;
            padding: 12px 14px;
            border-left: 3.2px solid var(--headerBG);
            transform: scale(1);
            transition: transform 0.2s 0.1s ease-in;
            background-color: #F4F4F4;
            cursor: pointer;
            img {
                // position: absolute;
                width: 40px;
                margin-left: 40px;
                // right: 14px;
                // top: -12px;
            }
            &:hover {
                transform: scale(1.05);
            }
        }

        footer {
            margin-top: 50px;
            height: 80px;
            // background-color: var(--headerBG);
            padding: 1em 0;
        }
    }
}